name: Piper Golang GPP  # The promote_draft workflow depends on this workflow so a name change here will also affect the promote_draft workflow

on:
  workflow_dispatch:

  pull_request:
    types: [opened, reopened, synchronize]

  schedule:
    - cron: "0 9 * * MON"

# This will ensure that only one workflow run is active for each PR by canceling previously triggered active workflow runs.
# The workflow triggered by the latest push will cancel the workflow that was triggered by the previous push.
# Works also for push to master events.
# See docs: https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  piper:
    uses: project-piper/piper-pipeline-github/.github/workflows/sap-piper-workflow.yml@main
    with:
      extensibility-enabled: true
    secrets: inherit
    permissions:
      contents: write  # for updating Release notes
      id-token: write
