name: Init stage

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      piper-version:
        required: false
        type: string
        default: 'latest'
      sap-piper-version:
        required: false
        type: string
        default: 'latest'
      runs-on:
        required: false
        type: string
        default: '[ "self-hosted" ]'
      custom-defaults-paths:
        required: false
        type: string
        default: ''
      custom-stage-conditions-path:
        required: false
        type: string
        default: ''
      checkout-submodules:
        required: false
        type: string
        default: 'false'
      checkout-lfs:
        required: false
        type: string
        default: 'false'
      # telemetry-template-name input is for internal use by Piper team only. If you are reusing this workflow in
      # your pipeline, please avoid setting any value for this input.
      telemetry-template-name:
        required: false
        type: string
        default: ''
    outputs:
      on-productive-branch:
        value: ${{ jobs.Init.outputs.onProductiveBranch }}
      is-optimized-and-scheduled:
        value: ${{ jobs.Init.outputs.isOptimizedAndScheduled }}
      active-steps-map:
        value: ${{ jobs.Init.outputs.activeStepsMap }}
      active-stages-map:
        value: ${{ jobs.Init.outputs.activeStagesMap }}
      pipeline-env:
        value: ${{ jobs.Init.outputs.pipelineEnv }}
      pipeline-optimization:
        value: ${{ jobs.Init.outputs.pipelineOptimization }}
      global-extensions-repository:
        value: ${{ jobs.Init.outputs.globalExtensionsRepository }}
      # Next 2 outputs are required for vault integration from custom defaults
      # The request raised in INC12541979: if those parameters a set in customdefaults only,
      # then the values are 'null'. With this change, the values are set to proper values
      vault-base-path:
        value: ${{ jobs.Init.outputs.vaultBasePath }}
      vault-pipeline-name:
        value: ${{ jobs.Init.outputs.vaultPipelineName }}
      global-extensions-ref:
        value: ${{ jobs.Init.outputs.globalExtensionsRef }}

env:
  PIPER_ACTION_PIPER_VERSION: ${{ inputs.piper-version }}
  PIPER_ACTION_SAP_PIPER_VERSION: ${{ inputs.sap-piper-version }}
  PIPER_ACTION_SAP_PIPER_OWNER: project-piper
  PIPER_ACTION_SAP_PIPER_REPOSITORY: sap-piper
  PIPER_ACTION_GITHUB_ENTERPRISE_TOKEN: ${{ github.token }}
  PIPER_ENTERPRISE_SERVER_URL: ${{ secrets.PIPER_ENTERPRISE_SERVER_URL }}
  PIPER_ACTION_WDF_GITHUB_ENTERPRISE_TOKEN: ${{ secrets.PIPER_WDF_GITHUB_TOKEN }}
  PIPER_ACTION_CUSTOM_DEFAULTS_PATHS: ${{ inputs.custom-defaults-paths }}
  PIPER_ACTION_CUSTOM_STAGE_CONDITIONS_PATH: ${{ inputs.custom-stage-conditions-path }}
  PIPER_vaultAppRoleID: ${{ secrets.PIPER_VAULTAPPROLEID }}
  PIPER_vaultAppRoleSecretID: ${{ secrets.PIPER_VAULTAPPROLESECRETID }}
  PIPER_PIPELINE_TEMPLATE_NAME: ${{ inputs.telemetry-template-name }}
  # telemetry-stage-template-name is for internal use by Piper team only. If you've copied/forked this workflow, please remove this variable.
  PIPER_PIPELINE_STAGE_TEMPLATE_NAME: hyperspace-piper-init

jobs:
  Init:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    outputs:
      activeStagesMap: ${{ steps.checkIfStepActive.outputs.activeStagesMap }}
      activeStepsMap: ${{ steps.checkIfStepActive.outputs.activeStepsMap }}
      pipelineEnv: ${{ steps.pipelineEnv.outputs.pipelineEnv }}
      onProductiveBranch: ${{ steps.export.outputs.onProductiveBranch }}
      isOptimizedAndScheduled: ${{ steps.export.outputs.isOptimizedAndScheduled }}
      pipelineOptimization: ${{ steps.export.outputs.pipelineOptimization }}
      globalExtensionsRepository: ${{ steps.export.outputs.globalExtensionsRepository }}
      vaultBasePath: ${{ steps.export.outputs.vaultBasePath }}
      vaultPipelineName: ${{ steps.export.outputs.vaultPipelineName }}
      globalExtensionsRef: ${{ steps.export.outputs.globalExtensionsRef }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: ${{ inputs.checkout-submodules }}
          lfs: ${{ inputs.checkout-lfs }}
      - name: Setup Go for development builds
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        if: ${{ startsWith(inputs.piper-version, 'devel' ) ||  startsWith(inputs.sap-piper-version, 'devel' ) }}
        with:
          go-version: '1.24'
          check-latest: true
      - name: version
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: version
      - name: Read stage configuration
        id: stage_config
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: getConfig
          flags: --stageConfig --outputFile stage-config.json
      - name: Set productive branch environment variable
        run: echo "productiveBranch=$(jq -j .productiveBranch stage-config.json)" >> $GITHUB_ENV
      # 'gh-readonly-queue' prefixed branches are created when merge queue is enabled. Productive pipeline should not run on these branches.
      - name: Check if on productive branch
        run: echo "onProductiveBranch=$([[ "${{ github.ref_name }}" =~ ${{ env.productiveBranch }} && ! ("${{ github.ref_name }}" =~ "gh-readonly-queue/") ]] && echo "true" || echo "false")" >> $GITHUB_ENV
      - name: Check if scheduled run
        run: echo "scheduledRun=$([[ "${{ github.event_name }}" == "schedule" ]] && echo "true" || echo "false")" >> $GITHUB_ENV
      - name: Set pipeline optimization flag
        run: echo "pipelineOptimization=$([[ $(jq -j .pipelineOptimization stage-config.json) == "true" ]] && echo "true" || echo "false")" >> $GITHUB_ENV
      - name: Check if optimized and scheduled
        run: echo "isOptimizedAndScheduled=$([[ "${{ env.pipelineOptimization }}" == "true" && "${{ github.event_name }}" == "schedule" ]] && echo "true" || echo "false")" >> $GITHUB_ENV
      - name: Set global extensions repository
        run: echo "globalExtensionsRepository=$(jq -j .globalExtensionsRepository stage-config.json)" >> $GITHUB_ENV
      - name: Set global extensions reference
        run: echo "globalExtensionsRef=$(jq -j .globalExtensionsRef stage-config.json)" >> $GITHUB_ENV
      - name: Sanitize global extensions repository URL
        run: echo "globalExtensionsRepository=$([[ ${{ env.globalExtensionsRepository }} == "null" || ${{ env.globalExtensionsRepository }} == "https://"* ]] && echo "" || echo ${{ env.globalExtensionsRepository }})" >> $GITHUB_ENV
      - name: Set vault base path
        run: echo "vaultBasePath=$(jq -j .vaultBasePath stage-config.json)" >> $GITHUB_ENV
      - name: Set vault pipeline name
        run: echo "vaultPipelineName=$(jq -j .vaultPipelineName stage-config.json)" >> $GITHUB_ENV
      - id: export
        name: Prepare outputs
        run: |
          echo "::notice::Branch ${{ github.ref_name }} is productive branch: ${{ env.onProductiveBranch }}"
          echo "onProductiveBranch=${{ env.onProductiveBranch }}" >> $GITHUB_OUTPUT
          echo "pipelineOptimization=${{ env.pipelineOptimization }}" >> $GITHUB_OUTPUT
          echo "isOptimizedAndScheduled=${{ env.isOptimizedAndScheduled }}" >> $GITHUB_OUTPUT
          echo "globalExtensionsRepository=${{ env.globalExtensionsRepository }}" >> $GITHUB_OUTPUT
          echo "vaultBasePath=${{ env.vaultBasePath }}" >> $GITHUB_OUTPUT
          echo "vaultPipelineName=${{ env.vaultPipelineName }}" >> $GITHUB_OUTPUT
          echo "globalExtensionsRef=${{ (env.globalExtensionsRef != 'null' && env.globalExtensionsRef) || '' }}" >> $GITHUB_OUTPUT
      - name: sapPipelineInit
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: sapPipelineInit
          # githubToken will be overridden by secret in Vault (if set)
          flags: --isScheduled=${{ env.scheduledRun }} --githubToken ${{ github.token }}
      - name: checkIfStepActive
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: ''
          create-check-if-step-active-maps: true
      - name: Prepare outputs
        if: always()
        id: checkIfStepActive
        run: |
          echo "activeStagesMap=$(jq -c . < .pipeline/stage_out.json)" >> $GITHUB_OUTPUT
          echo "activeStepsMap=$(jq -c . < .pipeline/step_out.json)" >> $GITHUB_OUTPUT
          echo "activeStepsMap=$(jq -c . < .pipeline/step_out.json)" >> $GITHUB_ENV
      - name: Write System Trust URL to CPE
        run: echo -n "$(jq -j .hooks.systemtrust.serverURL stage-config.json)" > .pipeline/commonPipelineEnvironment/custom/systemTrustURL
        continue-on-error: true
      - name: gcpPublishEvent - pipelineRunStarted
        if: fromJSON(env.activeStepsMap)[github.job]['gcpPublishEvent'] &&
            env.onProductiveBranch == 'true'
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: gcpPublishEvent
          flags: '--eventType sap.hyperspace.pipelineRunStarted --topic hyperspace-pipelinerun-started'
        continue-on-error: true
      - name: Export pipeline environment
        if: always()
        uses: SAP/project-piper-action@v1.22
        id: pipelineEnv
        with:
          step-name: ''
          export-pipeline-environment: true
