name: Lint PR

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  check-pr-title:
    runs-on: self-hosted
    steps:
      - name: Check PR title follows conventional commits
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
