name: Promote stage

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      piper-version:
        required: false
        type: string
        default: 'latest'
      sap-piper-version:
        required: false
        type: string
        default: 'latest'
      on-productive-branch:
        required: true
        type: string
      is-optimized-and-scheduled:
        required: false
        type: string
        default: 'false'
      runs-on:
        required: false
        type: string
        default: '[ "self-hosted" ]'
      active-stages-map:
        required: true
        type: string
      active-steps-map:
        required: true
        type: string
      pipeline-env:
        required: true
        type: string
      checkout-submodules:
        required: false
        type: string
        default: 'false'
      checkout-lfs:
        required: false
        type: string
        default: 'false'
      environment:
        required: false
        type: string
        default: 'Piper Promote'
      vault-base-path:
        required: false
        type: string
        default: ''
      vault-pipeline-name:
        required: false
        type: string
        default: ''
      # telemetry-template-name input is for internal use by Piper team only. If you are reusing this workflow in
      # your pipeline, please avoid setting any value for this input.
      telemetry-template-name:
        required: false
        type: string
        default: ''
    outputs:
      pipeline-env:
        value: ${{ jobs.Promote.outputs.pipelineEnv }}
env:
  PIPER_ACTION_PIPER_VERSION: ${{ inputs.piper-version }}
  PIPER_ACTION_SAP_PIPER_VERSION: ${{ inputs.sap-piper-version }}
  PIPER_ACTION_SAP_PIPER_OWNER: project-piper
  PIPER_ACTION_SAP_PIPER_REPOSITORY: sap-piper
  PIPER_ACTION_GITHUB_ENTERPRISE_TOKEN: ${{ github.token }}
  PIPER_ENTERPRISE_SERVER_URL: ${{ secrets.PIPER_ENTERPRISE_SERVER_URL }}
  PIPER_ACTION_WDF_GITHUB_ENTERPRISE_TOKEN: ${{ secrets.PIPER_WDF_GITHUB_TOKEN }}
  PIPER_ACTION_PIPELINE_ENV: ${{ inputs.pipeline-env }}
  PIPER_vaultAppRoleID: ${{ secrets.PIPER_VAULTAPPROLEID }}
  PIPER_vaultAppRoleSecretID: ${{ secrets.PIPER_VAULTAPPROLESECRETID }}
  vaultBasePath: ${{ inputs.vault-base-path }}
  vaultPipelineName: ${{ inputs.vault-pipeline-name }}
  PIPER_PIPELINE_TEMPLATE_NAME: ${{ inputs.telemetry-template-name }}
  # telemetry-stage-template-name is for internal use by Piper team only. If you've copied/forked this workflow, please remove this variable.
  PIPER_PIPELINE_STAGE_TEMPLATE_NAME: hyperspace-piper-promote
jobs:
  Promote:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    environment: ${{ inputs.environment }}
    if: |
      fromJSON(inputs.active-stages-map).Promote == true &&
      inputs.on-productive-branch == 'true'
    outputs:
      pipelineEnv: ${{ steps.pipelineEnv.outputs.pipelineEnv }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: ${{ inputs.checkout-submodules }}
          lfs: ${{ inputs.checkout-lfs }}
      # Requires "id-token: write" permissions, which is to be configured in the workflow that imports the GPP
      - name: Retrieve System Trust session token
        id: system_trust
        uses: project-piper/system-trust-composite-action@fed8cfb7b9aa6918c315bc26561746a9da8125a6
        with:
          api-url: ${{ fromJson(inputs.pipeline-env)['custom/systemTrustURL'] }}
          pipeline-id: ${{ inputs.vault-pipeline-name }}
          pipeline-group-id: ${{ inputs.vault-base-path }}
        continue-on-error: true
      - name: Setup Go for development builds
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        if: ${{ startsWith(inputs.piper-version, 'devel' ) ||  startsWith(inputs.sap-piper-version, 'devel' ) }}
        with:
          go-version: '1.24'
          check-latest: true
      - name: sapCallStagingService
        if: fromJSON(inputs.active-steps-map)[github.job]['sapCallStagingService'] == true
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: sapCallStagingService
          flags: --action promote
      - name: Read stage configuration
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: getConfig
          flags: --stageConfig --outputFile stage-config.json
      - name: Set lock pipeline run configuration
        run: |
          echo "lockPipelineRun=$(jq -j .lockPipelineRun stage-config.json)" >> $GITHUB_ENV
          echo "::notice::lockPipelineRun $(jq -j .lockPipelineRun stage-config.json)"
      - name: Create lock file for productive branch
        if: env.lockPipelineRun == 'true'
        run: |
          echo "::notice::Writing lock-run.json for productive branch"
          touch lock-run.json
      - name: sapCumulusUpload (lock-run.json)
        if: |
          fromJSON(inputs.active-steps-map)[github.job]['sapCumulusUpload'] == true &&
          env.lockPipelineRun == 'true'
        uses: SAP/project-piper-action@v1.22
        with:
          step-name: sapCumulusUpload
          flags: --filePattern **/lock-run.json --stepResultType root
      - name: Export pipeline environment
        if: always()
        uses: SAP/project-piper-action@v1.22
        id: pipelineEnv
        with:
          step-name: ''
          export-pipeline-environment: true
