name: Release Drafter

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
    uses: project-piper/.github/.github/workflows/release-drafter.yml@main
    secrets:
      # we have to use a PAT here because `github-actions` user does not trigger push events (required for mirroring tags)
      GH_TOKEN: ${{ secrets.GH_TOOLS_TOKEN }}
