name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update_release_draft:
    runs-on: self-hosted
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Set GHE_HOST
        run: |
          echo "GHE_HOST=${GITHUB_SERVER_URL##https:\/\/}" >> $GITHUB_ENV
      - uses: release-drafter/release-drafter@v6
        with:
          commitish: main  # codespell:ignore commitish
          disable-releaser: ${{ github.event_name == 'pull_request' }}
          disable-autolabeler: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
