# Minimal Docker build configuration using Kaniko
# Only the essential changes from the original config.yml

general:
  buildTool: docker  # Changed from 'golang'
  nativeBuild: true
  pipelineOptimization: true
  productiveBranch: main
  vaultBasePath: piper/PIPELINE-GROUP-3060
  vaultNamespace: ies/hyperspace/pipelines
  vaultPath: piper/PIPELINE-GROUP-3060
  vaultPipelineName: PIPELINE-44986
  vaultServerUrl: https://vault.tools.sap
  verbose: true

stages:
steps:
  artifactPrepareVersion:
    gitHttpsCredentialVaultSecretName: GROUP-SECRETS/github

  # Kaniko build - minimal configuration
  kanikoExecute:
    containerImageName: piper-simple-go
    # containerImageTag will be set by artifactPrepareVersion

  sapCallStagingService:
    profile: group-3060-default
    url: https://staging.repositories.cloud.sap/stage/api

  sapCumulusUpload:
    pipelineId: 9040d69a-7213-451c-ad5e-f1b1d5ca220f
